/* COMMON */
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto Slab';
}
.page {
  background-image: linear-gradient(-180deg, rgba(0,0,0,0.00) 0%, rgba(0,0,0,0.35) 50%), url('../images/anonymous-server-background.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}




/* HEADER */
.page__header {
  position: relative;
  height: 20%;
}
.nav-trigger {
  background-image: url('../images/ico-menu.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgba(0, 0, 0, 0.7);
  border: none;
  border-radius: 5px;
  position: fixed;
  right: 20px;
  top: 20px;
  width: 45px;
  height: 0px;
  padding-top: 45px;
  overflow: hidden;
}


/* MENU */
.nav {
  background-color: rgba(75, 50, 51, 0.9);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transform: translateY(-100%);
  transition: transform ease .7s, background ease .7s .5s;
}
.menu-visible{
  transform: translateY(0%);
}
.nav__items {
  list-style: none;
  padding: 0;
  color: white;
  text-decoration: none;
  text-align: center;
  font-size: 32px;
  width: 100%;
}
.nav__item {
  display: block;
}
.nav__item:hover {
  background-color: rgba(0, 0, 0, 0.7);
}
.nav__link {
  color: white;
  text-decoration: none;
}
.nav-close {
  background-image: url('../images/ico-close.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgba(0, 0, 0, 0.7);
  border: none;
  border-radius: 5px;
  position: absolute;
  top: 20px;
  right: 20px;
  width: 45px;
  height: 0px;
  padding-top: 45px;
  overflow: hidden;
}

.hidden{
  display: none;
}




/* MAIN */
.page__main {
  text-transform: uppercase;
  width: 100%;
  height: 80%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.page__wrapper {
  padding: 20px 25px;
}
.page__main-title {
  max-width: 320px;
  color: white;
  font-size: 32px;
}




/* FOOTER */
.page__footer {
  width: 100%;
}
.page__footer {}
.page__footer-copy {
  margin: auto;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 5px;
  color: rgba(255, 255, 255, 0.7);
  text-align: center;
  font-size: 14px;
  font-family: sans-serif;
}


/*MEDIAQUERIES*/

@media all and (min-width: 490px) {
  .page__main-title {
    font-size: 38px;
  }
}

@media all and (min-width: 768px) {
  .page__main-title {
    font-size: 52px;
  }
  .page__wrapper {
    padding: 20px 40px;
  }
  .nav__items {
    font-size: 36px;
  }
  .nav__item {
    padding: 5px;
  }
}

@media all and (min-width: 1240px) {
  .page__main-title {
    font-size: 80px;
  }
  .page__main {
    width: 80%;
  }
  .page__footer {
    width: 80%;
  }
  .nav__items {
    font-size: 42px;
  }
}
